/* Estilos generales */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001F5F;
}

/* Contenedor principal */
.contenedor_onboarding {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}


/* Mostrar la diapositiva correspondiente al radio button seleccionado */
#diapositiva1:checked ~ #slide1,
#diapositiva2:checked ~ #slide2,
#diapositiva3:checked ~ #slide3 {
    display: flex;
}
/* Estilos para las diapositivas */
.diapositiva {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Estilos para la imagen */
.logo {
    width: 40%;
    max-width: 300px;
    height: auto;
    transition: width 0.3s ease;
}

/* Estilos para la imagen */
.logo2 {
    width: 40%;
    max-width: 400px;
    height: auto;
    transition: width 0.3s ease;
}

/* Estilos para los títulos */
h1 {
    font-size: 5em;
    margin-bottom: -20px;
    margin-top: -10px;
    color: #001F5F;
    font-weight: ExtraBold 900;
}

/* Estilos para los párrafos */
p {
    font-size: 1em;
    margin-bottom: -10px;
    color: #001F5F; /* Azul Obscuro */
}

/* Contenedor de botones indicadores */
.indicadores {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.indicador {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #C8D4EC; /* Azul Claro*/
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicador:hover {
    background-color: #001F5F;
}

/* Ocultar los radios del circulo */
input[type="radio"] {
    display: none;
}
/* Resaltar el circulo en activo */
#diapositiva1:checked ~ #slide1 .indicadores label[for="diapositiva1"],
#diapositiva2:checked ~ #slide2 .indicadores label[for="diapositiva2"],
#diapositiva3:checked ~ #slide3 .indicadores label[for="diapositiva3"] {
    background-color: #2655B5; /* Azul */
}

/* Contenedor de botones principales */
.botones {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilos para los botones */
button, .boton_siguiente, .boton_omitir, .boton_comenzar {
    padding: 8px 50px;
    font-size: 1em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

/* Botón "SIGUIENTE" */
.boton_siguiente {
    background-color: #2655B5; /* Azul */
}

.boton_siguiente:hover {
    background-color: #001F5F; /* Azul Obscuro */
}

/* Botón "OMITIR" */
.boton_omitir {
    background-color: #C1C1C1; /* Gris Claro */
}

.boton_omitir:hover {
    background-color: #646464; /* Gris Obscuro */
}

/* Botón "COMENZAR" */
.boton_comenzar {
    background-color: #2655B5; /* Azul */
}

.boton_comenzar:hover {
    background-color: #001F5F; /* Azul Obscuro */
}


/* Colores del documento */
/* #2655B5; /* Azul */
/* #6F96E6; /* Azul Claro*/
/* #C8D4EC; /* Azul muy Claro*/
/* #001F5F; /* Azul Obscuro */
/* #C1C1C1; /* Gris Claro */
/* #646464; /* Gris Obscuro */
/* 
/* 